/* You can add global styles to this file, and also import other style files */
mat-dialog-content { overflow: visible !important; }
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; // Import the Material theme
@import "@angular/material/prebuilt-themes/indigo-pink.css"; // Import the Material theme

.flex-container-components { //the main container for components
    display: flex-grow;
    flex-direction: column; 
    //justify-content: start; 
    align-items: center; 
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100vh; 
  }

.flex-container-components-inner { //the main container for components already inside the components container
    display: flex-grow;
    flex-direction: column; 
    //justify-content: start; 
    align-items: center; 
    margin-top: 70px;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden !important;
    //height: calc(100vh - 70px); 
}

.horizontal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}