<div class="background-container">
  <div class="login-container">
    <form [formGroup]="loginForm">
        <div class="login-form">
          <ng-container *ngIf="!_isRegister">
            
            <mat-form-field class="login-form-custom">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter your email" required formControlName="username" name="username">
              <mat-error *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <span *ngIf="username?.errors?.['required']">Email is required.</span>
                <span *ngIf="username?.errors?.['email']">Invalid email address.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="login-form-custom">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Enter your password" required formControlName="password" name="password" style="margin-left: 3px;">
              <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <span *ngIf="password?.errors?.['required']">Password is required.</span>
                <span *ngIf="password?.errors?.['email']">Invalid email address.</span>
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" (click)="login()" [disabled]="loginForm.invalid && loginForm.touched">Login</button>
              
              <div class="sso-login-section">
                <p class="sso-title">Or Login with:</p>
                <app-ssologin></app-ssologin>
              </div>

              <span class="enroll-link-container" *ngIf="!_isRegister">
                <a class="enroll-link" href="#" (click)="registerPopup($event)">Not Enrolled? Sign Up Now.</a>
              </span>

          </ng-container>
          
            <app-registeruser 
              *ngIf="_isRegister" 
              (registerComplete)="onRegisterComplete()"
              (backClicked)="onBackFromRegister()">
            </app-registeruser>

        </div>
        <div>
          <!-- Don't have an account? <a routerLink="/register">Register</a> -->
           
          <!-- Don't have an account? <button mat-raised-button color="primary" (click)="registerPopup()">Register</button> -->
          <!-- Don't have an account? <a  href="#" (click)="registerPopup()">Register</a> -->
          <!-- <app-popupform-modular *ngIf="_isRegister"></app-popupform-modular> -->
        </div>
    </form>
    <!-- <div>
      Don't have an account? <a routerLink="/register">Register</a>
    </div> -->
  </div>
</div>