<div class="flex-container-components-inner">
  <div class="jobprofile-welcome-custom">Welcome to your Job Portal, {{userName}}</div>
  <mat-form-field>
    <mat-label>Profile</mat-label>
    <mat-select [(value)]="jobProfileSelected" matTooltip="Select your profile"
      (selectionChange)="onJobProfileChange($event)">
      <mat-option [value]="null" matTooltipPosition="right" (click)="onJobDefaultClick()">Default Profile</mat-option>
      <mat-option *ngFor="let jobProfile of jobProfiles" [value]="jobProfile">{{jobProfile.profileName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span>
    <!-- <button mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onCreateJobProfile()">Add new job profile</button>
      <button mat-menu-item (click)="onEditJobProfile()">Update job profile</button>
      <button mat-menu-item (click)="onDeleteJobProfile()">Delete job profile</button>
    </mat-menu> -->
    <mat-icon class="jobprofile-icons" matTooltip="Add new job profile" fontIcon="add" *ngIf="showJobOptions"
      (click)="onCreateJobProfile()"></mat-icon>
    <mat-icon class="jobprofile-icons" matTooltip="Update job profile" fontIcon="edit" *ngIf="isSelected"
      (click)="onEditJobProfile()"></mat-icon>
    <mat-icon class="jobprofile-icons" matTooltip="Delete job profile" fontIcon="delete" *ngIf="isSelected"
      (click)="onDeleteJobProfile()"></mat-icon>
  </span>
  <span class="employer-icons-span-right">
    <!-- <button mat-mini-fab [matMenuTriggerFor]="menu2" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu2"aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="onCreateEmployerProfile()">Add new employer profile</button>
      <button mat-menu-item (click)="onEditEmployerProfile()">Update employer profile</button>
      <button mat-menu-item (click)="onDeleteEmployerProfile()">Delete employer profile</button>
    </mat-menu> -->
    <app-upload-modular *ngIf="showEmployerOptions" ></app-upload-modular>
    <app-download-modular *ngIf="showEmployerOptions" [_jobProfileId]="jobProfileSelected?.id || null"></app-download-modular>
    <mat-icon class="employerprofile-icons" matTooltip="Add new employer profile" fontIcon="add"
      *ngIf="showEmployerOptions" (click)="onCreateEmployerProfile()"></mat-icon>
    <mat-icon class="employerprofile-icons" matTooltip="Update employer profile" fontIcon="edit"
      *ngIf="showEmployerOptions" (click)="onEditEmployerProfile()"></mat-icon>
    <mat-icon class="employerprofile-icons" matTooltip="Delete employer profile" fontIcon="delete"
      *ngIf="showEmployerOptions" (click)="onDeleteEmployerProfile()"></mat-icon>
  </span>
  <table mat-table *ngIf="isSelected" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
    class="mat-elevation-z8 table-border">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name"> Name </th>
      <td mat-cell *matCellDef="let element">
        <a href="#" (click)="onNameClick($event, element)">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City"> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by State"> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Phone"> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Website"> Website </th>
      <td mat-cell *matCellDef="let element"> {{element.website}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="latestupdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Lastest Update"> Latest
        Update </th>
      <td mat-cell *matCellDef="let element"> {{element.latestUpdate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator *ngIf="isSelected" #paginator (page)="onPageChange($event)" [length]="totalRecords"
    [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
  </mat-paginator>
</div>