.flex-container { //the main container
    display: flex-grow;
    flex-direction: column; /* This is the default value, so it's optional */
    //justify-content: start; /* Adjusts the spacing between items */
    align-items: center; /* Aligns items vertically in the center */
    margin-top: 10%
    //height: 100vh; /* Full viewport height */
  }

  // .flex-container-components { //the main container
  //   display: flex-grow;
  //   flex-direction: column; /* This is the default value, so it's optional */
  //   //justify-content: start; /* Adjusts the spacing between items */
  //   align-items: center; /* Aligns items vertically in the center */
  //   margin-top: 7%;
  //   margin-left: 3%;
  //   margin-right: 3%;
  //   height: 100vh; /* Full viewport height */
  // }

  .flex-container-components-inner { //the main container
    display: flex-grow;
    flex-direction: column; /* This is the default value, so it's optional */
    //justify-content: start; /* Adjusts the spacing between items */
    align-items: center; /* Aligns items vertically in the center */
    height: 100vh; /* Full viewport height */
  }

  .flex-inner-container {
    display: flex-grow;
    flex-direction: column; /* This is the default value, so it's optional */
    //justify-content: start; /* Adjusts the spacing between items */
    align-items: center; /* Aligns items vertically in the center */
    //height: 100vh; /* Full viewport height */
    // margin-top: 10%; /* Add some space above the tabs */
    // margin-bottom: 10%; /* Add some space above the tabs */
  } 
  
  .flex-item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
  }

  table {
    //margin-top: 10%;
    //margin-left: 5%;
    //margin-right: 5%;
  }

  .table-border{
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  .table-border th, .table-border td {
    border: 1px solid #ddd;
  }

  .mainpage-title {
    //opacity: .9;
    //background-color: lightblue;
    //padding: 5px;
    //margin: 10px;
    //border: 1px solid #ccc;
    //padding-left: 700px; /* Add some space to the left of the text */
    text-align: center; /* Center the text */
    color: rgb(0, 0, 0);
    font-size: 5em;
    transform: scale(1.1); /* Adjust the scale factor as needed */
    transform-origin: top left; /* Ensure scaling starts from the top left corner */
  }

  .mainpage-tabs {
    display: flex; /* Display the tabs in a row */
    //justify-content: center; /* Center the tabs */
    margin-top: 20px; /* Add some space above the tabs */
    //width: 75%; /* Take up full width */
    //padding-left: 250px; /* Add some space to the left of the tabs */
  }

  .job-titles {
    //padding-left: 1000px; /* Add some space to the left of the text */
    text-align: center; /* Center the text */
  }

  .download-icon {
    width: 24px; /* Set the width of the icon */
    height: 24px; /* Set the height of the icon */
    margin-right: 8px; /* Add some space between the icon and the text */
    vertical-align: middle; /* Align the icon vertically with the text */
}