  .flex-item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
  }

  //table {
    //margin-top: 10%;
    //margin-left: 5%;
    //margin-right: 5%;
  //}

  .table-border{
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  .table-border th, .table-border td {
    border: 1px solid #ddd;
  }

  .jobprofile-welcome-custom {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: #0000FF;
    text-align: center; 
  }

  .download-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    vertical-align: middle; /* Align the icon vertically with the text */
}

.jobprofile-icons {
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  font-size: 1.7em;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  transition: color 0.3s ease; /* Smooth transition for color change */

  &:hover {
    color: #007bff; /* Change color on hover */
  }
}

.employerprofile-icons {
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  font-size: 1.7em;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  transition: color 0.3s ease; /* Smooth transition for color change */

  &:hover {
    color: #007bff; /* Change color on hover */
  }
}

.employer-icons-span-right {
  float: right;
  margin-top: 50px;
}

.employer-icons-span-right-inrow {
  align-items: center;
  justify-content: center;
}