<div class="background-container">
    <div class="flex-container">
      <div class="mainpage-title">
        Download your CSV file
        <button (click)="download()">
          <img src="/../assets/Icons/download-pdf.png" alt="" class="download-icon">
          Download
        </button>
      </div>
    </div>
      <div class="flex-container">
          
      </div>
  </div>
  
  <div class="footer-info">
    <div>footer for copyright information</div>
    &copy; 2023 Jai Xiong. All rights reserved.
    <div>
      <a href="https://www.flaticon.com/free-icons/download-pdf" title="download pdf icons">
        Download pdf icons created by Freepik - Flaticon
      </a>
    </div>
  </div>