<div class="flex-container-components-inner">
  <div class="jobprofile-welcome-custom">Welcome to your Job Portal, {{_userName}}</div>
  <mat-form-field>
    <mat-label>Profile</mat-label>
    <mat-select [(value)]="_jobProfileSelected" matTooltip="Select your profile" (selectionChange)="onJobProfileChange($event)">
      <mat-option [value]="null" matTooltip="Add/Edit/Update a Job Profile" matTooltipPosition="right" (click)="onJobDefaultClick() ">Add / Edit / Delete</mat-option>
      <mat-option *ngFor="let jobProfile of _jobProfiles" [value]="jobProfile">{{jobProfile.profileName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span>
    <mat-icon class="jobprofile-icons" matTooltip="Add new job profile" fontIcon="add" *ngIf="_showJobOptions" (click)="onCreateJobProfile()"></mat-icon>
    <mat-icon class="jobprofile-icons" matTooltip="Update profile" fontIcon="edit" *ngIf="_showJobOptions" (click)="onEditJobProfile()"></mat-icon>
    <mat-icon class="jobprofile-icons" matTooltip="Delete profile" fontIcon="delete" *ngIf="_showJobOptions" (click)="onDeleteJobProfile()"></mat-icon>
  </span>
  <span class="span-right">
    <mat-icon class="employerprofile-icons" matTooltip="Add new employer profile" fontIcon="add" *ngIf="_showEmployerOptions" (click)="onCreateEmployerProfile()"></mat-icon>
    <mat-icon class="employerprofile-icons" matTooltip="Update profile" fontIcon="edit" *ngIf="_showEmployerOptions" (click)="onEditEmployerProfile()"></mat-icon>
    <mat-icon class="employerprofile-icons" matTooltip="Delete profile" fontIcon="delete" *ngIf="_showEmployerOptions" (click)="onDeleteEmployerProfile()"></mat-icon>
  </span>
  <table mat-table *ngIf="_isSelected" [dataSource]="dataSource" class="mat-elevation-z8 table-border">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> 
        <a href="#" (click)="onNameClick($event, element)">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
  
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef> Website </th>
      <td mat-cell *matCellDef="let element"> {{element.website}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="latestupdate">
      <th mat-header-cell *matHeaderCellDef> Latest Update </th>
      <td mat-cell *matCellDef="let element"> {{element.latestUpdate}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator *ngIf="_isSelected"
  #paginator
  (page)="onPageChange($event)"
  [length]="totalRecords"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons>
  </mat-paginator>
</div>


