<div class="flex-container-components-inner">
    <p class="action-title">Create Employer Profile</p>
    <!-- <p class="important-redtext">*Required Fields</p> -->
    <mat-icon aria-hidden="false" aria-label="Close" (click)="onClose()" class="close-icon">close</mat-icon>
    <div class="flex-container-components-inner">
        <mat-tab-group class="vertical-tabs" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
            <mat-tab [disabled]="employerTab" label="EmployerProfile">
                <ng-template mat-tab-label>
                    <mat-icon>account_circle</mat-icon>
                    <span>Employer Profile</span>
                </ng-template>
                <form [formGroup]="employerProfileForm">
                    <label for="name">Employer Name*</label>
                    <input matInput type="text" id="name" formControlName="name" class="input-custom" placeholder="Enter employer name" matTooltip="*Required" matTooltipPosition="right">

                    <!-- <label for="id">ID</label>
                        <input type="text" id="id" formControlName="id" class="input-custom" placeholder={{data.id}}>
        
                        <label for="jobProfileId">Job Profile ID</label> 
                        <input type="text" id="jobProfileId" formControlName="jobProfileId" class="input-custom" placeholder={{data.jobProfileId}}> -->

                    <!-- <label for="date">Date</label>
                    <input matInput type="text" id="date" formControlName="date" class="input-custom" placeholder={{data.date}}> -->

                    <label for="title">Title</label>
                    <input matInput type="text" id="title" formControlName="title" class="input-custom" placeholder="Title of person">

                    <label for="address">Address</label>
                    <input matInput type="text" id="address" formControlName="address" class="input-custom" placeholder="1234 W Name Street">

                    <label for="city">City</label>
                    <input matInput type="text" id="city" formControlName="city" class="input-custom" placeholder="">

                    <label for="state">State</label>
                    <input matInput type="text" id="state" formControlName="state" class="input-custom" placeholder="">

                    <label for="zip">Zip</label>
                    <input matInput type="text" id="zip" formControlName="zip" class="input-custom" placeholder="">

                    <label for="phone">Phone</label>
                    <input matInput type="text" id="phone" formControlName="phone" class="input-custom" placeholder="">

                    <label for="email">Email</label>
                    <input matInput type="text" id="email" formControlName="email" class="input-custom" placeholder="">

                    <label for="website">Website</label>
                    <input matInput type="text" id="website" formControlName="website" class="input-custom" placeholder="">
                    <!-- <span class="span-custom">
                        <button type="submit" [disabled]="!employerProfileForm.valid" class="submit-button">Save</button>
                        <button type="cancel" (click)="onCancel()" class="cancel-button">Cancel</button>
                    </span> -->
                </form>
            </mat-tab>
            <mat-tab label="Action" [disabled]="actionTab">
                <ng-template mat-tab-label>
                    <mat-icon>flag_circle</mat-icon>
                    <span>Action</span>
                </ng-template>
                <form [formGroup]="actionForm">
                    <!-- <label>Date</label>
                    <input matInput type="text" id="date" formControlName="date" class="input-custom" placeholder=""> -->
                    <label>Action*</label>
                    <input matInput type="text" id="action" formControlName="action" class="input-custom" placeholder="Action taken" matTooltip="*Required" matTooltipPosition="right">
                    <label>Contact Method</label>
                    <input matInput type="text" id="method" formControlName="method" class="input-custom" placeholder="">
                    <label>Action Result</label>
                    <textarea matInput type="text" id="actionresult" formControlName="actionresult" class="input-custom" placeholder=""></textarea> 

                    <!-- <button type="submit" [disabled]="!actionForm.valid" class="submit-button">Save</button> -->
                </form>
            </mat-tab>
            <mat-tab label="Details" [disabled]="detailsTab">
                <ng-template mat-tab-label>
                    <mat-icon>edit_note</mat-icon>
                    <span>Details</span>
                </ng-template>
                <form [formGroup]="detailsForm">
                    <!-- <label>Date</label>
                    <input matInput type="text" id="date" formControlName="date" class="input-custom" placeholder=""> -->
                    <label>Comments*</label>
                    <textarea matInput type="text" id="comments" formControlName="comments" class="input-custom" placeholder="Information about the result" matTooltip="*Required" matTooltipPosition="right"></textarea>
                    <label>Updates</label>
                    <textarea matInput type="text" id="updates" formControlName="updates" class="input-custom" placeholder=""></textarea>

                    <!-- <button type="submit" [disabled]="!detailsForm.valid" class="submit-button">Save</button> -->
                </form>
            </mat-tab>
        </mat-tab-group>
        <span class="span-custom" *ngIf="selectedTabIndex === 0">
            <button type="button" [disabled]="!isFormValid()" (click)="onSubmit()" class="submit-button">Submit</button>
            <button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
        </span>
    </div>
</div>