.flex-container { //the main container
    display: flex-grow;
    flex-direction: column; 
    //justify-content: start; 
    align-items: center; 
    //height: 100vh; 
  }
  
  .flex-item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
  }

  .mainpage-title {
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 5em;
    transform: scale(1.1); 
    transform-origin: top left;
  }

  .mainpage-tabs {
    display: flex; 
    margin-top: 20px; 
  }

  .job-titles {
    text-align: center; 
  }
  .footer-info {
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    background-color: #f1f1f1; 
    position: fixed; 
    z-index: 1000; 
    bottom: 0;
    left: 0; 
  }
  .header-info {
    width: 100%; 
    text-align: left; 
    padding: 10px 0; 
    background-color: #f1f1f1;
    position: relative; /* Fix the footer at the bottom */
    z-index: 1000; /* Set z-index to ensure it's above other elements */
    top: 0; 
    left: 0; 
  }

  .download-icon {
    width: 24px;
    height: 24px; 
    margin-right: 8px; 
    vertical-align: middle; 
}

.background-container {
  background-image: //url('/assets/backgrounds/dave-hoefler-qdX_Z8gu7tA-unsplash.jpg'),
  //url('/assets/backgrounds/billy-freeman-PDqNS8Cwz3M-unsplash.jpg'),
  //url('/assets/backgrounds/evan-mach-2vLhhDEYCvk-unsplash.jpg'), //the bridge
  //url('/assets/backgrounds/kayle-kaupanger-UQRQ6uAXgNA-unsplash.jpg'),
  url('/assets/backgrounds/mark-rohan-vN7Cpe2MSf8-unsplash.jpg'), //this looks good
  //url('/assets/backgrounds/miguel-angel-sanz-6vwmc_ouh-0-unsplash.jpg'), //7bridges
  //url('/assets/backgrounds/nick-grant-SN3yJux68hY-unsplash.jpg'),
  //url('/assets/backgrounds/rebekah-dummer-ctYNjhUunNg-unsplash.jpg'), //this looks good
  //url('/assets/backgrounds/saketh-AufJRf7LirY-unsplash.jpg'), //the leaf
  //url('/assets/backgrounds/tom-barrett-hoA7e2HRr70-unsplash.jpg'), //the city
  //url('/assets/backgrounds/wei-zeng-6KffRaLsClk-unsplash.jpg')
  ; /* Set the background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

// .logout-button {
// float: right; 
// }

html {
  height: 100%;              /* for the page to take full window height */
  box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}

*,
*:before,
*:after {
  box-sizing: inherit;       /* enable the "border-box effect" everywhere */
}

.body-for-sticky {
  position: relative;        /* for the footer to move with the page size */
  min-height: 100%;          /* for the footer to be at the bottom */
  padding-bottom: 6rem;      /* Space available between last element and bottom border of the page */
}

.sticky-footer {
  position: absolute;        /* for it to disappear under last body element */
  bottom: 0;                 /* so the footer can stick to the bottom */
  width: 100%;               
  display: flex;             
  justify-content: center;   
  align-items: center;       
  text-align: center;
  background-color: #f8f9fa; 
  padding: 10px 0;           
}

.title-icon {
  //font-size: large;
  width: auto; 
  margin-left: 20px; 
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  transition: color 0.3s ease; /* Smooth transition for color change */

  &:hover {
    color: #007bff; /* Change color on hover */
  }
}