<div class="flex-container-components-inner">
    <p class="action-title">Create Job Profile</p>
    <mat-icon aria-label="Close" (click)="onClose()" class="close-icon">close</mat-icon>
    <mat-tab-group class="vertical-tabs" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
        <div class="flex-container-components-inner">
            <mat-tab label="JobProfile">
                <ng-template mat-tab-label>
                    <mat-icon>account_circle</mat-icon>
                    <span>Job Profile</span>
                </ng-template>
                <form [formGroup]="jobProfileForm" (ngSubmit)="onSubmit()">

                    <label for="profileName">Profile Name</label>
                    <input matInput type="text" id="profileName" formControlName="profileName" class="input-custom" placeholder={{data.profileName}}>

                    <button type="submit" [disabled]="!jobProfileForm.valid" class="create-button">Submit</button>
                    <button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
                </form>
            </mat-tab>
        </div>
    </mat-tab-group>
</div>